<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
      maximum-scale=1.0, user-scalable=no">
    %s
    <script src="https://use.typekit.net/olr4hxu.js"></script>
    <script>try { Typekit.load({ async: true }); } catch (e) { }</script>
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon-16x16.png">
    <link rel="stylesheet" href="./assets/css/github-markdown.css">
</head>

<body>
    <div id="post">
        <div class="markdown-body">
            %s
        </div>
        %s
    </div>
</body>

</html>